# Byte-compiled / compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and database
*.log
*.sqlite3
*.db

# Environment variables
.env
*.env

# Cache
*.cache
*.pyc
*.pyo

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# IDE / Editor files
.vscode/
.idea/
*.sublime-workspace
*.swp

# Testing
.tox/
.nox/
.coverage
htmlcov/
*.cover
*.py,cover
nosetests.xml
coverage.xml

# Mypy
.mypy_cache/
.dmypy.json
